export OUTPUT_CHARSET=sjis
export PATH=${DBOX_ROOT}/mingw/usr/local/bin:${PATH}
export PATH=${DBOX_ROOT}/mingw/ruby1.9/bin:${PATH}

# 文字化け対策
alias ls='/bin/ls -F --color=auto --show-control-chars'
alias less='/bin/less -r'

alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'
alias sublim='C:/Program\ Files/Sublime\ Text\ 2/sublime_text.exe'
alias vi='sublim'
alias vim='sublim'
alias restart='start /msys.bat --mintty && exit'
alias ifconfig=ipconfig
alias open=start